.review-item{
    border: 1px solid gray;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    width: 570px;
    display: flex;
}
.review-item img{
    width: 90px;
    border-radius: 8px;
}
.review-item-details{
    margin-left: 20px;
}

.review-item-details p{
    margin: 0;
}
.review-item-details-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.review-item .delete-container{
    display: flex;
    align-items: center;
}
.review-item .delete-btn{
    background: rgba(235, 87, 87, 0.3);
    border: 0;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.delete-icon{
    color: rgba(235, 87, 87, 1);
    font-size: 28px;
}